@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  section {
    @apply snap-start flex flex-col justify-center items-center h-screen
  }

  h2 {
    @apply text-4xl font-black text-slate-900 pb-2
  }

  span {
    @apply text-rose-500
  }

  button {
    @apply bg-transparent w-28 h-10 rounded border-2 font-semibold
  }

  .SnapContainer {
    @apply snap-y snap-mandatory overflow-scroll h-screen z-0

 }
  .InnerSection {
    @apply flex flex-col justify-center h-1/4 w-5/6 gap-y-8
  }

  .FormInput {
    @apply bg-transparent border-b-2 mb-2 h-10 border-slate-800 outline-none resize-none
  }
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* create a border around the viewport */

html::before,
html::after {
  content: "";
  position: fixed;
  background-color: #fff;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 50;
}

body::before,
body::after {
  content: "";
  position: fixed;
  background: #fff;
  left: 0;
  height: 10px;
  width: 100%;
  z-index: 50;
}

html::before {
  left: 0;
}

html::after {
  right: 0;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}